/*
   @Author James Nolan - Ireland
   @Date 21.04.2019
   @Info CSS client code
*/

#dropdown{
  height: auto;
  max-height: 250px;
}

/*CSS code for the jumbotron*/

.jumbotron {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Collection-national-flags.png");
  background-size: cover;
}
.block-background{
  height: auto;
  width: auto;
  z-index: 1;
  display: inline-block;
}
.block-background *{
  width: auto;
}

.block-background div:nth-child(1){
  width: auto;
  opacity: 0.95;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
}

/*CSS code for the dynmaic drop-down entries*/
.dropdown-item{
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #b6c9c1 0%,  #8fe5ef 51%,#8cd7f2 75%);
  color: white !important;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*CSS code for hoovering on drop down options*/
.dropdown-item:hover{
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  font-weight: bold;
}

/*CSS code for timeout*/
#info{
  height:auto;
  width:auto;
  max-height: 20px;
  color: red;
}
